<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FitnessTimeFinal</display-name>
  <context-param>
    <description>ColorFondo</description>
    <param-name>colorFondoDefault</param-name>
    <param-value>claro</param-value>
  </context-param>
    <context-param>
    <param-name>titulo</param-name>
    <param-value>FitnessTime</param-value>
  </context-param>
    <servlet>
    <servlet-name>ControlCategoria</servlet-name>
    <servlet-class>Servlets.ControlCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlCategoria</servlet-name>
    <url-pattern>/ControlCategoria</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ControlCarrito</servlet-name>
    <servlet-class>Servlets.ControlCarrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlCarrito</servlet-name>
    <url-pattern>/ControlCarrito</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>ControlVistas</servlet-name>
    <servlet-class>Servlets.ControlVistas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlVistas</servlet-name>
    <url-pattern>/ControlVistas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinCompra</servlet-name>
    <servlet-class>Servlets.FinCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinCompra</servlet-name>
    <url-pattern>/FinCompra</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>GestionAdmin</servlet-name>
    <servlet-class>Servlets.GestionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionAdmin</servlet-name>
    <url-pattern>/GestionAdmin</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ModificarDatos</servlet-name>
    <servlet-class>Servlets.ModificarDatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarDatos</servlet-name>
    <url-pattern>/ModificarDatos</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ModificarProductos</servlet-name>
    <servlet-class>Servlets.ModificarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarProductos</servlet-name>
    <url-pattern>/ModificarProductos</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Registro</servlet-name>
    <servlet-class>Servlets.Registro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registro</servlet-name>
    <url-pattern>/Registro</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>CambiarFondo</servlet-name>
    <servlet-class>Servlets.CambiarFondo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarFondo</servlet-name>
    <url-pattern>/CambiarFondo</url-pattern>
  </servlet-mapping>
 <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>Portada.jsp</welcome-file>
  </welcome-file-list>
</web-app>